<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Laravel</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans antialiased w-full h-full">
    <!-- Page Content -->
    <main>
        <!-- component -->
        <section id="section-appendable-iframe" class="text-gray-700 body-font bg-white w-full h-full">
            <div class="aspect-w-16 aspect-h-9 mx-auto">
                <img id="website-image" alt="ecommerce" class="object-cover object-center rounded border border-gray-200 mb-4" src="">
            </div>
            <form method="POST" id="rating-iframe-form" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" action="" onsubmit="storeRatingIframe(event)">
                <div class="inline-block mx-4">
                    <label id="ui_label" class="block">Rating UI</label>
                    <select id="ratingui-iframe">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="inline-block mx-4">
                    <label id="ux_label" class="block">Rating UX</label>
                    <select id="ratingux-iframe">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <button id="submit-button" type="submit" style="border:1px solid black;padding:5px;">Envoyer</button>
            </form>
        </section>
    </main>
</body>
<script>
    /*
     * Reçoit les données depuis la vue blade
     */
    window.addEventListener('message', function(event) {
        const data = JSON.parse(event.data);
        if (data['auth'] == false) {
            document.querySelector('#rating-iframe-form').remove();
        }
        else{
            if (data['evaluation'] != null) {
                document.getElementById('ratingux-iframe').value = data.evaluation.ratingux;
                document.getElementById('ratingui-iframe').value = data.evaluation.ratingui;
            }
            document.getElementById('submit-button').textContent = data['translations']['send_button'];
            document.getElementById('ux_label').textContent = data['translations']['ux_label'];
            document.getElementById('ui_label').textContent = data['translations']['ui_label'];
        }
        document.getElementById('website-image').setAttribute('src', data['imageUrl']);
    }, false);

    /*
     * Envoi les données vers la vue blade
     */
    function storeRatingIframe(event) {
        event.preventDefault();
        const form = document.querySelector('#rating-iframe-form');
        const ratinguxIframe = document.getElementById('ratingux-iframe').value;
        const ratinguiIframe = document.getElementById('ratingui-iframe').value;
        const message = JSON.stringify({
            ratingui: ratinguiIframe,
            ratingux: ratinguxIframe,
        });
        form.remove();
        window.parent.postMessage(message, '*');
    }
</script>

</html>
